<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>Our Story</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img class="i" src="assets/our story illust.png" />
  <ion-card class="card1">
    <ion-card-content  >
      <ion-col col-6>
        <div class = "p">
          <ion-icon name="ios-calendar-outline"></ion-icon>
          Our Story
        </div>

      </ion-col>
       </ion-card-content>
   </ion-card>
   <ion-card class="card2">
    <ion-card-content  >
      <ion-col col-6>
   <p class="p1">This story started 20 years ago. 
     And while the world changed, one man’s mission 
     did not: To find a premium balanced natural 
     affordable dog food for his furry best pals.
  </p>
  <p class="p2">After studying his working dogs 
    and realising that they were not performing 
    at the level that his studies had suggested 
    was possible he realised good nutrition was 
    the only missing ingredient. Unfortunately, 
    after much investigating he realised that 
    most of the other brands available were full 
    of nasty preservatives - colourings, fillers 
    and who knows what else - with no guarantee 
    of quality or optimal nutritional value. So 
    he teamed up with leading pet nutritionists 
    and professors of animal nutrition, and 
    worked tirelessly to develop unique formulas 
    that perfectly fit our different dog’s dietary 
    needs - using all NZ natural human-grade 
    ingredients where possible; no expenses 
    spared for his best pals. The result was Real 
    Dog Food.
 </p>
 <p class="p3">What does this mean for your 
   dogs? Health benefits you can really see: 
   healthier happier, stronger, longer living 
   dogs with less allergies and savings on
    vet bills.
</p>
</ion-col>
</ion-card-content>
</ion-card>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p7">Connect With Us:</p>
    <p class="p8">inquire@perfectbowl.com</p>
    <p class="p9">09560520595</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>