<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>Our Story</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img class="i" src="assets/our story illust.png" />
  <ion-card class="card1">
    <ion-card-content  >
      <ion-col col-6>
        <div class = "p">
          <ion-icon name="ios-calendar-outline"></ion-icon>
          Our Story
        </div>

      </ion-col>
       </ion-card-content>
   </ion-card>
   <ion-card class="card2">
    <ion-card-content  >
      <ion-col col-6>
   <p class="p1">
      Since man has existed for a long time in this world, 
      change and progress has never stopped for everything, 
      especially from making this world more convenient for themselves. 
      Thus, came the discovery of machines and eventually, automation. 
  </p>
  <p class="p2">
    Although the development of appliances has existed for centuries, 
    tied mainly to the disappearance of full-time servants for time-consuming labor 
    in pursuit of more recreational time, 
    self-contained electric or gas powered appliances are unique American innovations 
    that emerged in the twentieth century. 
    The early 1900's electric and gas appliances was composed of washing machines, water heaters, 
    refrigerators, kettles and sewing machines, 
    with the invention of Earl Richardson's small electric clothes iron in 1903 
    giving a small initial boost to the home appliance industry. 
    After World War II and during the economic expansion, the domestic use of dishwashers, 
    and clothes dryers were part of a shift for convenience.
 </p>
 <p class="p3">
    What does this mean for you and to everyone from our products? 
    Suitable benefits you can really see and feel! 
    A healthier, happier, stronger way of life to achieve your ambitions!
</p>
</ion-col>
</ion-card-content>
</ion-card>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p7">Connect With Us:</p>
    <p class="p8">inquire@perfectbowl.com</p>
    <p class="p9">09560520595</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>