<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>Developers</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid no-padding class="g2">
    <b> <p class="p">Austin Abrera</p></b>
    <p class="p2">Team Lead</p>
    <p class="p3">Age: 22 years old<br>
      Year: 3rd year<br>
      Course:Information Technology<br>
      Goal: To become a sugar daddy<br>
      Email: qarmabrera@tip.edu.ph<br>

    </p>
    <img class="i2" src="assets/developers/Abrera.png" />
   </ion-grid>

   <ion-grid no-padding class="g2">
    <b> <p class="p4">Aaroh Torreses</p></b>
    <p class="p5">Front-End</p>
    <p class="p6">Age: 23 years old<br>
      Year: 3rd year<br>
      Course:Information Technology<br>
      Goal: Time is Goal<br> 
      Email: qajptorreses@tip.edu.ph<br>

    </p>
    <img class="i2" src="assets/developers/Torreses.png"/>
   </ion-grid>

   <ion-grid no-padding class="g2">
    <b> <p class="p">Arjohn Malabanan</p></b>
    <p class="p2">Back-End</p>
    <p class="p3">Age: 24 years old<br>
      Year: 3rd year<br>
      Course:Information Technology<br>
      Goal: To finished this project<br> 
      Email: qavmalabanan@tip.edu.ph<br>

    </p>
    <img class="i2" src="assets/developers/Malabanan.png" />
   </ion-grid>

   <ion-grid no-padding class="g2">
    <b> <p class="p4">Nyx Rodriguez</p></b>
    <p class="p5">Full-Stack</p>
    <p class="p6">Age: 24 years old<br>
      Year: 3rd year<br>
      Course:Information Technology<br>
      Goal: To have a peaceful life.<br> 
      Email: qnrodriguez@tip.edu.ph<br>

    </p>
    
    <img class="i2" src="assets/developers/Rodriguez.png" />
   </ion-grid>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p7">Connect With Us:</p>
    <p class="p8">inquire@irregapps.com</p>
    <p class="p9">091264598755</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>