<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>Developers</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding class="g2">
    <b> <p class="p">Cassandra Isaguirre</p></b>
    <p class="p2">Developer</p>
    <p class="p3">Age: 20 years old<br>
      Year: 2nd year<br>
      Course: Information Technology<br>
      Goal: to sleep<br>
      Instagram: @cisaguirre<br>
      Twitter: @cassisagu1<br>
      Facebook: Cassandra Isaguirre<br>
    </p>
    <img class="i2" src="assets/CS illust.png" />
   </ion-grid>

   <ion-grid no-padding class="g2">
    <b> <p class="p4">Keziah Fabregas</p></b>
    <p class="p5">Developer</p>
    <p class="p6">Age: 21 years old<br>
      Year: 3rd year<br>
      Course: Information Technology<br>
      Goal: to be a rich tita<br>
      Instagram: @ajkeziah <br>
      Twitter: @_ajkeziah<br>
      Facebook: Keziah Fabregas<br>
      
    </p>
    <img class="i2" src="assets/KZ illust.png" />
   </ion-grid>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p7">Connect With Us:</p>
    <p class="p8">inquire@perfectbowl.com</p>
    <p class="p9">09560520595</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>