<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>Contact</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage"  />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding class="g2">
    <b> <p class="p">Get in Touch!</p></b>
    <p class="p2">inquire@irregapps.com</p>
    <p class="p3">091264598755</p>
    <img class="i" src="assets/contact illust.png" />
   </ion-grid>

   <div class = "list">
     
    <p class="p4">Message Us!</p>
    <label class = "item item-input">
       <input id = "name" type = "text" placeholder = "Name" />
    </label>
 
    <label class = "item item-input">
       <input id = "email" type = "text" placeholder = "Email" />
    </label>
    <label class = "item item-input">
      <input id = "message" type = "text" placeholder = "Message" />
   </label>
   <button class = "button1">Send</button>
 </div>
   
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p7">Connect With Us:</p>
    <p class="p8">inquire@irregapps.com</p>
    <p class="p9">091264598755</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>