ion-title {
    margin-top: 7%;
    color: #ffff00;
    font-size:18px;
    font-weight: bold;
    text-align: center; 
    font-family: 'Black Han Sans';
}
.logo{
    width: 30%;
    margin-left: 75%;
    margin-top: -15%;
}
.p {
    margin-top: 40px; 
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin-right: 6%;
    text-align: right;
    font-family: 'Black Han Sans';
  }
.p2 {
    
    color: #ffff00;
    display: block;
    font-size: 15px;
    text-align: right;
    margin-right: 3%;
    font-family: 'Black Han Sans';
   
  }
  .p3 {
    margin-top:-15px; 
    margin-right: 3%;
    color: #ffff00;
    display: block;
    font-size: 15px;
    text-align: right;
    font-family: 'Black Han Sans';
   
  }
  .p4 {
    margin-top:-50px; 
    color: #ffffff;
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: 'Black Han Sans';
    margin-bottom: 1px;

   
  }
  .i{
     width: 150%;
    align-content:center; 
    display:block; 
    margin-top:-175px;  
  }
  #name {
   
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: 'Black Han Sans';
  }
  #email {
   
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: 'Black Han Sans';
  }
  #message {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: 'Black Han Sans';
    
  }

.button1{
    margin-left: 37%;
    border-radius: 25px;
    background-color: #ffff00;
    font-family: 'Black Han Sans';
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;

}
.p7 {
    margin-top: 2%;
    margin-left: 5%;
    color: #747474;
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: lato;
   
  }
  .p8 {
    margin-left: 5%;
    margin-top: -5%;
    color: #747474;
    display: block;
    font-size: 15px;
    font-family: lato;
   
  }
  .p9 {
    margin-left: 5%;
    margin-top: -3%;
    margin-bottom: -3%;
    color: #747474;
    display: block;
    font-size: 15px;
    font-family: lato;
   
  }
  .i3{
    width: 40%;
   border-radius: 8px;
   margin-top: -100px;
   margin-bottom: -10%;
   margin-left: 55%;
 }

