<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>About the App</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <img class="pic" src="assets/about illust.png" />

   <ion-card class="card2">
    <ion-card-content  >
      <ion-col col-6>
        <p class="p1">Product Catalog</p>
        <p class="p2">This page includes a list of our products, as well as
          information about them, service packages, price, and
          special offers. It will help in the purchase decision of
          our customers.
        </p>
      </ion-col>
    </ion-card-content>
</ion-card>

<ion-card class="card3">
  <ion-card-content  >
    <ion-col col-6>
      <p class="p3">Cart</p>
      <p class="p4">This page contains the various products that we have
        to offer. It allows customers to check out everything in
        one go rather than paying for each item separately.
      </p>
      <p class="p4">Users can also save a significant amount of time while 
        purchasing. It is really beneficial, especially when consumers are 
        purchasing many goods from the website.
      </p>
    </ion-col>
  </ion-card-content>
</ion-card>

<ion-card class="card4">
  <ion-card-content  >
    <ion-col col-6>
      <p class="p5">Contact</p>
      <p class="p6">This page provides users with a place where they can 
        find all your contact details easily and allow them to
        communicate with the site owner. This web page contains the 
        following information:
      </p>
      <p class="p6">- E-mail address</p>
      <p class="p6">- Telephone number</p>
      <p class="p6">- Location</p>
      <p class="p6">- Links to our business socials</p>
      <p class="p6">- Contact form for a text message or inquiry</p>
    </ion-col>
  </ion-card-content>
</ion-card>

<ion-card class="card5">
  <ion-card-content  >
    <ion-col col-6>
      <p class="p7">FAQ</p>
      <p class="p8">Because our app sells appliances, 
        we expect to get a lot of questions about our products' quality and suitability for the customers' needs.
        We will also provide them with guidelines for operational usage, basic maintenance, and warranty services. 
        This website will help handle any subscription-related questions.
      </p>
    </ion-col>
  </ion-card-content>
</ion-card>
 
<ion-card class="card6">
  <ion-card-content  >
    <ion-col col-6>
      <p class="p9">Developers</p>
      <p class="p10">This application provides information about our company's history and will 
        help customers understand "why us and why should they trust our business”.
      </p>
    </ion-col>
  </ion-card-content>
</ion-card>

</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p11">Connect With Us:</p>
    <p class="p12">inquire@irregapps.com</p>
    <p class="p13">09560520595</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>