<ion-header>
  <ion-toolbar class="profile" color="tertiary">
      <ion-button class="right"  fill="clear"routerLink="/home">
        Home
        </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-title class="left">My Profile</ion-title>
  <ion-card color="#000">
      <ion-avatar class="ion-margin-start">
          <img src="arjohn.jpg">
      </ion-avatar>
      <h5><b>Arjohn V. Malabanan</b></h5>
      <p><ion-icon name="location-outline"></ion-icon>
          Mayamot, Antipolo City <br>

          <ion-icon name="call-outline"></ion-icon>
          09566144745 <br>

          <ion-icon name="mail-open-outline"></ion-icon>
          qavmalabanan@tip.edu.ph <br>
      </p>
  </ion-card>