ion-title {
  margin-top: 7%;
  color: #ffff00;
  font-size:18px;
  font-weight: bold;
  text-align: center; 
  font-family: 'Black Han Sans';
  margin-right: 15%;
}

.logo{
    width: 30%;
    margin-left: 75%;
    margin-top: -15%;
}
