ion-title {
  color: #ffff00;
  font-size:18px;
  font-weight: bold;
  text-align: center; 
  font-family: 'Black Han Sans';
}

.cart{
    width: 30%;
    margin-left: 75%;
    // margin-top: -5%;
}

.logo-cart {
  color: white;
}