ion-title {
  margin-top: 7%;
  color: #005f81;
  font-size:18px;
  font-weight: bold;
  text-align: center; 
  font-family: 'Black Han Sans';
}

.logo{
    width: 20%;
    margin-left: 78%;
    margin-top: -11%;
}
