<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>FAQ</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="card1">
    <h1>Ae Kuri Mahi</h1>
  <ion-slides>
    <ion-slide>
    <img class="prod1" src="assets/images/products/Ae Kuri Mahi.png" />
  </ion-slide>
  <ion-slide>
    <img class="prod1" src="assets/images/products/Ae Kuri Mahi Content.png" />
  </ion-slide>
  <ion-slide>
    <img class="prod1" src="assets/images/products/Ingredients1.jpg" />
  </ion-slide>
  </ion-slides>
</ion-card>
<ion-card class="card2">
  <h1>Allergies</h1>
<ion-slides>
  <ion-slide>
  <img class="prod1" src="assets/images/products/Allergies.png" />
</ion-slide>
<ion-slide>
  <img class="prod1" src="assets/images/products/allergies-ingredients.png" />
</ion-slide>
<ion-slide>
  <img class="prod1" src="assets/images/products/allergies-biscuit.jpg" />
</ion-slide>
</ion-slides>
</ion-card>
<ion-card class="card3">
  <h1>Balanced</h1>
<ion-slides>
  <ion-slide>
  <img class="prod1" src="assets/images/products//Balanced.png" />
</ion-slide>
<ion-slide>
  <img class="prod1" src="assets/images/products/balanced-ingredients.png" />
</ion-slide>
<ion-slide>

  <img class="prod1" src="assets/images/products/balanced-biscuit.jpg" />
</ion-slide>
</ion-slides>
</ion-card>
<ion-card class="card4">
  <h1>Grain Free</h1>
<ion-slides>
  <ion-slide>
  <img class="prod1" src="assets/images/products/Grain Free.png" />
</ion-slide>
<ion-slide>
  <img class="prod1" src="assets/images/products/grainfree-ingredients.jpg" />
</ion-slide>
<ion-slide>
  <img class="prod1" src="assets/images/products/grainfree-biscuit.jpg" />
</ion-slide>
</ion-slides>
</ion-card>
<ion-card class="card5">
  <h1>Puppy</h1>
<ion-slides>
  <ion-slide>
  <img class="prod1" src="assets/images/products/Puppy.png" />
</ion-slide>
<ion-slide>
  <img class="prod1" src="assets/images/products/puppy-ingredients_8633a4ec-0f35-4581-b688-7fa56ecb0ae1 (1).jpg" />
</ion-slide>
<ion-slide>
  <img class="prod1" src="assets/images/products/puppy-biscuit.jpg" />
</ion-slide>
</ion-slides>
</ion-card>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p7">Connect With Us:</p>
    <p class="p8">inquire@perfectbowl.com</p>
    <p class="p9">09560520595</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>