
h1{
    color: #ffffff;
    font-weight: bold;
    text-align: center; 
    font-size:25px;
    font-family: 'Black Han Sans';
}
.swiper-slide h3{
    color: #ffffff;
    font-weight: bold;
    text-align: center; 
    font-size:15px;
    font-family: 'arial';
}
.card1{
    background-color:#00437f;
    border-radius: 50px;
}
.card2{
    background-color:#228b22;
    border-radius: 50px;
}
.card3{
    background-color:#d22b2b;
    border-radius: 50px;
}
.card4{
    background-color:#ff5f1f;
    border-radius: 50px;
}
.card5{
    background-color:#9F2B68;
    border-radius: 50px;
}
.p7 {
    margin-top: 2%;
    margin-left: 5%;
    color: #747474;
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: lato;
   
  }
  .p8 {
    margin-left: 5%;
    margin-top: -5%;
    color: #747474;
    display: block;
    font-size: 15px;
    font-family: lato;
   
  }
  .p9 {
    margin-left: 5%;
    margin-top: -3%;
    margin-bottom: -3%;
    color: #747474;
    display: block;
    font-size: 15px;
    font-family: lato;
   
  }
  .i3{
    width: 40%;
   border-radius: 8px;
   margin-top: -100px;
   margin-bottom: -10%;
   margin-left: 55%;
 }
 .cart{
    width: 30%;
    margin-left: 75%;
    margin-top: -2%;
    // margin-top: -5%;
}

.logo-cart {
  color: white;
}

.home-button {
    color: #ffff00;
    font-size:18px;
    font-weight: bold;
    text-align: center; 
    font-family: 'Black Han Sans';
    width: 30%;
    margin-left: 30%;
    
  }
