<ion-header>
  <ion-toolbar>
    <link href='https://fonts.googleapis.com/css?family=Black Han Sans' rel='stylesheet'>
    <ion-title>FAQ</ion-title>
    <img class="logo" src="assets/logo 1.png" (click)= "HomePage" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card class="card1">
  <h1>Air Conditioners</h1>
  <ion-slides>
    <ion-slide>
      <img class="prod1" src="assets/images/products/CARRIER.png" />
    </ion-slide>
    <ion-slide>
      <h3>CARRIER<br>
        Features
        <ion-slide>
      <img class="prod1" src="assets/images/products/carrier content.png" />
    </ion-slide>
      </h3>
    </ion-slide>
    <ion-slide>
      <img class="prod1" src="assets/images/products/PANASONIC.png" />
    </ion-slide>
    <ion-slide>
      <h3>PANASONIC<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/panasonic content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
  </ion-slides>
</ion-card>

<ion-card class="card2">
  <h1>Refrigerators</h1>
  <ion-slides>
    <ion-slide>
      <img class="prod1" src="assets/images/products/SAMSUNGINV.png" />
    </ion-slide>
    <ion-slide>
      <h3>SAMSUNG_INV<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/saminv content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
    <ion-slide>
      <img class="prod1" src="assets/images/products/SAMSUNGREFRIGERATOR.png" />
    </ion-slide>
    <ion-slide>
      <h3>SAMSUNG_REFRIGERATOR<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/samref content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
  </ion-slides>
</ion-card>

<ion-card class="card3">
  <h1>Kitchen Stoves</h1>
  <ion-slides>
    <ion-slide>
      <img class="prod1" src="assets/images/products/LaGermania.png" />
    </ion-slide>
    <ion-slide>
      <h3>La Germania FS530 00W<br>50cm Gas Cooking Range<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/lagermania content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
    <ion-slide>
      <img class="prod1" src="assets/images/products//WhiteWestinghouse.png" />
    </ion-slide>
    <ion-slide>
      <h3>White Westinghouse WCG644K<br>60cm Gas Cooking Range<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/whitewestinghouse content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
  </ion-slides>
</ion-card>

<ion-card class="card4">
  <h1>Televisions</h1>
  <ion-slides>
    <ion-slide>
      <img class="prod1" src="assets/images/products/SAMSUNG85.png" />
    </ion-slide>
    <ion-slide>
      <h3>SAMSUNG 85<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/sam85 content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
    <ion-slide>
      <img class="prod1" src="assets/images/products/SAMSUNG98.png" />
    </ion-slide>
    <ion-slide>
      <h3>SAMSUNG 98 NEO QLED 4K SMART TV<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/sam98 content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
  </ion-slides> 
</ion-card>

<ion-card class="card5">
  <h1>Washers & Dryers</h1>
  <ion-slides>
    <ion-slide>
      <img class="prod1" src="assets/images/products/Beko.png" />
    </ion-slide>
    <ion-slide>
      <h3>Beko DA8111PA 8.0 kg.<br>Front Load Air Vented Dryer<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/beko content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
    <ion-slide>
      <img class="prod1" src="assets/images/products/Electrolux.png" />
    </ion-slide>
    <ion-slide>
      <h3>Electrolux EDV754H3WB 7.5 kg.<br>Front Load Dryer<br>
        Features
        <ion-slide>
          <img class="prod1" src="assets/images/products/electrolux content.png" />
        </ion-slide>
      </h3>
    </ion-slide>
  </ion-slides>
</ion-card>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <p class="p7">Connect With Us:</p>
    <p class="p8">inquire@perfectbowl.com</p>
    <p class="p9">09560520595</p>
    <img class="i3" src="assets/footerlogo.png" />
  </ion-toolbar>
</ion-footer>